@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a sua Agenda Digital.</h1>
    <p>Que tal você já começar a <a asp-controller="Tarefa" asp-action="Criar">Criar uma Tarefa</a> é rápido e prático.</p>
</div>
